.mb-8 {
  margin-bottom: 8px;
}
.mb-16 {
  margin-bottom: 16px;
}
.mt-16 {
  margin-top: 16px;
}
.text-center {
  text-align: center;
}
.w-full {
  width: 100%;
}
.clickable-card {
  cursor: pointer;
}
.auth-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #141414;
}
.center-fullscreen {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.center-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}
.flex-between {
  display: flex;
  justify-content: space-between;
}
.flex-end {
  width: 100%;
  justify-content: flex-end;
}
